@import '../../styles/variables.scss';

.main {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    box-shadow: $box-shadow-less;

    .leftSide {
        flex: 0 0 30%;
        max-width: 30%;
    }

    .rightSide {
        width: 100%;
    }

}