@import '../../styles/variables.scss';


.header {
    height: $h-header-panel;
    background-color: $panel-header-background;
    display: flex;
    align-items: center;
    padding: 0 $menu-item-spacing;
    position: relative;
    z-index: 1000;

}